<div class="wrapper">
      
        <ul class="list-group">
                <li class="list-group-item" >
                        <div class="card" >
                                <div class="card-body">
                                        <div class="dropdown">
                                                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <i class="fa fa-cog" aria-hidden="true" title="Click To Edit"></i>
    
                                                </a>
                                              
                                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                                  <a class="dropdown-item"routerLink='/content/page'>Edit</a>
                                                  <a class="dropdown-item" href="#">Copy</a>
                                                  
                                                </div>
                                              </div>
                                         
                                      
                                  <h5 class="card-title">Page title</h5>
                                  
                                  
                                </div>
                        </div>
    
                </li>
                
          </ul>
          <ul class="list-group" id="article"  >
           
            
                <li class="list-group-item" *ngFor="let article of articles; let index=index">
                    <a routerLink='/content/article'>
                             <i class="fa fa-cog" aria-hidden="true" title="Edit" ></i>
                    </a>
                        <i class="fa fa-trash-o" aria-hidden="true" style="float: right;"  (click)="deleteArticle(articles.number)"></i>
                        <span class="count-numbers">Article Title</span>
                        <span class="count-name">{{article.number}}</span> 
                    <ul class="list-group" id="block">
                        <li class="list-group-item"   *ngFor="let block of blocks; let index=index" >
                            <a routerLink='/content/block'>
                                    <i class="fa fa-cog" aria-hidden="true" title="Edit" ></i>
                           </a>
                                <i class="fa fa-trash-o" aria-hidden="true" style="float: right;" (click)="deleteBlock(blocks.number)"></i>
                                <span class="count-numbers">Block Title</span>
                                <span class="count-name">{{block.number}}</span> 
                                <ul class="list-group" id="component">
                                        <li class="list-group-item">
                                                    <div class="card " *ngIf="visible">
                                                                   
                                                            <div class="card-body">
                                                                            <a  (click)='gotoComponentPage(Component, $event)'>
                                                                                    <i class="fa fa-cog" aria-hidden="true" title="Edit" ></i>
                                                                                   </a>
                                                                                   <i class="fa fa-trash-o" aria-hidden="true" style="float: right;" (click)="deleteComponent()"></i>
                   
                                                                    <span class="count-numbers"><h5 class="card-title">{{Component}} </h5></span>
                                                                    <h6 class="card-title">Component Name</h6>
                                                                    <p class="card-text">Component Body</p>
                                                            </div>
                                                    </div>
                                                <button type="button" class="btn btn-a btn-b btn-c" (click) = 'displayComponentbar()' [disabled]='this.Component' >Add Component</button>
    
                                        </li>
                                        
                                </ul>
    
                        </li>
                        <button type="button" class="btn btn-a btn-b" (click)="addBlock()">Add Block</button>  
                    </ul>
                  
                </li>
                
            </ul>  
            <button type="button" class="btn btn-a" (click)="addArticle()">Add Article</button>
        <app-component-sidebar  *ngIf = 'isShow' (addComponent)="addComponentHere($event)"></app-component-sidebar>
            
    </div>
